body, table {
    font-family: verdana;
    font-size: 11px;
}

#left_column {
    width: 700px;
    position: relative;
    float: left;
}
#right_column {
    width: 540px;
    position: relative;
    float: left;
}

#instructions {
    border-collapse: collapse;
    float: left;
}

#instructions tr td,
#instructions tr th,
#memory tr td,
#memory tr th,
#info tr td,
#registers tr th,
#registers tr td {
    border: 1px solid #000;
}

#instructions #id th {
    width: 130px;
}

#memory {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#info {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#registers {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#image {
    position: relative;
    display: block;
    width: 690px;
    margin: 5px;
}

#controls {
    width: 500px;
    position: relative;
    display:block;
}

#controls .button {
    width: 40px;
    height: 20px;
    display: inline-block;
}

#bytecode, #assembly {
    width: 100%;
    height: 200px;
    position: relative;
    display: block;
}

#file {
    display: block;
    position: relative;
}

.datatable {
    margin: 5px;
}
