body, table {
    font-family: verdana;
    font-size: 11px;
}

#left_column {
    width: 700px;
}

#instructions {
    border-collapse: collapse;
    float: left;
}

#instructions tr td,
#instructions tr th,
#memory tr td,
#memory tr th,
#info tr td,
#registers tr th,
#registers tr td {
    border: 1px solid #000;
}

#instructions #id th {
    width: 130px;
}

#memory {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#info {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#registers {
    border-collapse: collapse;
    position: relative;
    display: block;
    float: left;
}

#image {
    position: relative;
    display: block;
    border: 1px solid #DDD;
    width: 600px;
}

#controls {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 500px;
    height: 90%;
}

#controlbar {
    width: 180px;
    margin: 10px;
    position: relative;
    display: block;
}

#controlbar .button {
    width: 40px;
    height: 20px;
    display: inline-block;
}

#filedata {
    width: 90%;
    height: 200px;
    position: relative;
    display: block;
}

#file {
    display: block;
    position: relative;
}

.datatable {
    margin: 5px;
}
